.list-group#subtopics
  .list-group-item
    %h5 
      %a{ 'href': "##{@topic.slug}_subtopics", 'data-toggle': 'collapse', 'data-parent': '#subtopics'} 
        Subtopics (#{@topic.subtopics.count})
        %span.caret
    %div.collapse{ 'id': "#{@topic.slug}_subtopics"}
      %ul.subtopics_list
        - @topic.subtopics_by_priority.each do |subtopic|
          = render 'subtopic', subtopic: subtopic