---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/inv@lid?key=ENV['google_api_key']&v=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - application/vnd.google.gdata.error+xml
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: "<errors xmlns='http://schemas.google.com/g/2005'><error><domain>GData</domain><code>InvalidRequestUriException</code><internalReason>Invalid
        id</internalReason></error></errors>"
  recorded_at: Tue, 17 Mar 2015 23:07:53 GMT
recorded_with: VCR 2.9.3
