- if current_user
  .row
    .col-md-6
      .list-group-item
        %h2 New Instructionals
      = render @new_instructionals
    .col-md-6
      .list-group-item
        %h1 Stuff over here
- else
  .jumbotron
    %h1 Every body is a machine
    %h2 This is the manual
    %p
      = link_to "Create account", new_user_registration_path, class: "btn btn-success home-signup-button"