.instructional.list-group-item
  .row
    .col-sm-2.hidden-xs.instructional_thumbnail
      = link_to instructional_path(instructional.slug) do
        = youtube_thumbnail_for(instructional.uid)
    .col-sm-10.instructional_info
      .instructional_title
        - if instructional.try(:highlight).try(:title)
          - title = instructional.highlight.title[0].html_safe
        - else
          - title = instructional.title
        = link_to title, instructional_path(instructional.slug)
      .instructional_description
        - if instructional.try(:highlight).try(:description)
          - description = instructional.highlight.description[0].html_safe
        - else
          - description = instructional.description
        = truncate(description, length: 140)