@import "bootstrap-sprockets";
@import "bootstrap";

/* grid */

.container {
  margin-left: 10px;
  margin-right: 10px;
}

/* navbar */

.navbar {
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
  background-color: #FFF;
  color: #000;
  margin-bottom: 0;
}

.dropdown-menu li {
  border-left: none !important;
}

.navbar-brand {
  padding-left: 54px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  .cobra {
    font-weight: bolder;
  }
  .khan {
    font-weight: lighter;
  }
  .academy {
    font-weight: bold;
  }
}

.navbar li {
  border-left: 1px solid $gray-lighter;
}

.navbar-form .form-group input {
  border-radius: 0;
}

.input-group-btn .btn{
  padding: 9px 12px;
} 

/* front page */

.jumbotron {
  background-image: 
    linear-gradient(
      rgba(50, 125, 125, 0.45), 
      rgba(50, 125, 125, 0.45)
    ),
    image-url("the_boxer_hands.jpg");
  background-size: cover;
  height: 100%;
  color: White;
  .small {
    color: $gray-lighter
  }
  h1, h2, a, p {
    text-align: center;
  }
}

.list-group-item {
  &:first-child {
    border-top: none;
  }
  padding-left: 50px;
  border-radius: 0 !important;
  border-color: $gray-lighter;
  border-left: none;
  a {
    text-decoration: none
  }
}

.home-signup-button {
  font-size: 1.13em;
  border: 2px white solid;
  border-radius: 30px;
  background-color: transparent;
}

/* alerts, messages */

.alert {
  margin-bottom: 0;
  border-radius: 0;
  li {
    list-style-type: none;
  }
}

/* forms */

.checkbox {
  margin-left: 20px;
}

/* asides */

aside.col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

aside.col-md-3  h2, p {
  padding-left: 15px;
}

/* topics */

h2 .parent_topic_name {
  font-size: 0.8em
}